.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .logo{
    margin-left: -45px;
    width: max(5%,80px);
}

.navbar .profile{
    width: 40px;
}